{% extends "base_template.html" %}
{% load i18n staticfiles  %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'datatables/media/css/jquery.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'messenger/build/css/messenger.css' %}">
    <link rel="stylesheet" href="{% static 'messenger/build/css/messenger-theme-future.css' %}">
    <link rel="stylesheet" href="{% static 'c3/c3.css' %}">
    <link rel="stylesheet" href="{% static 'pickadate/lib/themes/default.css' %}">
    <link rel="stylesheet" href="{% static 'pickadate/lib/themes/default.date.css' %}">
{#    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">#}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'jquery-cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'messenger/build/js/messenger.min.js' %}"></script>
    <script src="{% static 'messenger/build/js/messenger-theme-future.js' %}"></script>
    <script src="{% static 'lodash/dist/lodash.min.js' %}"></script>
    <script src="{% static 'd3/d3.min.js'%}"></script>
    <script src="{% static 'c3/c3.min.js' %}"></script>
    <script src="{% static 'pickadate/lib/picker.js' %}"></script>
    <script src="{% static 'pickadate/lib/picker.date.js' %}"></script>
    <script src="{% static 'pickadate/lib/translations/zh_CN.js' %}"></script>
    <script src="{% static 'momentjs/moment.js' %}"></script>

    <script id="row-template" type="text/x-handlebars-template">
    {% verbatim %}
        <tr>
            <td>{{ showtime }}</td>
            <td>{{ count }}</td>
        </tr>
    {% endverbatim %}
    </script>

    <script>
    $(document).ready(function(){
        var mode = "{{ mode }}";
        $('.datepicker').pickadate({
            format: 'yyyy-mm-dd'
        });


{#        var table = $('#table').DataTable({#}
{#                language: {#}
{#                    "url": "//cdn.datatables.net/plug-ins/725b2a2115b/i18n/Chinese.json"#}
{#                }#}
{#        });#}
       var selected = [];

    $('#table tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
        var id = $(this).data("rowKey");
        var index = $.inArray(id, selected);
        if ( index === -1 ) {
            selected.push( id );
        } else {
            selected.splice( index, 1 );
        }
        console.log(selected);
    } );

        $("#today").click(function(){
            //a trick to pass JS variable to django url template tag
            var url = "{% url 'management.adstats'%}";
            url = url+'?mode=today';
            console.log(url)
            window.location.href = url;
        });

        $("#yesterday").click(function(){
            //a trick to pass JS variable to django url template tag
            var url = "{% url 'management.adstats'%}";
            url = url+'?mode=yesterday';
            console.log(url)
            window.location.href = url;
        });

        $("#last7Days").click(function(){
            //a trick to pass JS variable to django url template tag
            var url = "{% url 'management.adstats'%}";
            url = url+'?mode=last7Days';
            console.log(url)
            window.location.href = url;
        });

        $("#month").click(function(){
            //a trick to pass JS variable to django url template tag
            var url = "{% url 'management.adstats'%}";
            url = url+'?mode=month';
            console.log(url)
            window.location.href = url;
        });

        $("#search").click(function(){
            //a trick to pass JS variable to django url template tag
            var url = "{% url 'management.adstats'%}";
            console.log($("#start"));
            var start = $('#start').val();
            console.log(start);
            var end = $('#end').val();
            console.log(end);
            url = url+'?mode=search&start='+start+'&end='+end;
            console.log(url)
            window.location.href = url;
        });

        var stats_json = {{  stats_json |safe}};

        console.log(stats_json);

        var adPresentation = ['广告展示']
        var dateArray = ['x']
        var format = "YYYY-MM-D";
        if (mode === 'today' || mode ==='yesterday'){
            format = "YYYY-MM-DTHH";
        }
        stats_json.forEach(function(element,index,array){
{#            console.log(element);#}
{#            console.log(element.count);#}
{#            console.log(element.count === null)#}
            var count = element.count;
            if (element.count === null){
                count = 0;
            }
            adPresentation.push(count);

            date = moment(element.showtime)
{#            console.log(date);#}
            dateArray.push(date.format(format));

{#            console.log(date.format("YYYY-MM-D"))#}
            var source   = $("#row-template").html();
            var template = Handlebars.compile(source);
            var context = {showtime: date.format(format), count: count};
            var html    = template(context);
{#            console.log(html);#}
            $('.table > tbody:last').append(html);
        });

{#        console.log(adPresentation);#}
{#        console.log(dateArray);#}

        var xFormat = "%Y-%m-%d";
        if (mode === 'today' || mode ==='yesterday'){
            xFormat = "%Y-%m-%dT%H";
        }

        var chart = c3.generate({
            bindto: '#chart',
            data: {
                x:'x',
               xFormat: xFormat,
              columns: [
{#                      ['x', '2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06'],#}
                      dateArray,
{#                ['广告展示', 30, 200, 100, 400, 150, 250],#}
                adPresentation,
{#                ['广告点击', 50, 20, 10, 40, 15, 25]#}
              ],
                types: {
                    广告展示: 'area-spline',
{#                    广告点击: 'area-spline'#}
                    // 'line', 'spline', 'step', 'area', 'area-step' are also available to stack
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: xFormat
                    }
                }
            }
        });


    });
    </script>
{% endblock %}

{% block content-header %}
<h1>
    {% trans "AD Statistics" %}
    <small>ad report</small>
</h1>
{% endblock %}

{% block content %}
<div>
    <input type="text" class="datepicker" id="start" placeholder="{% trans 'Start Date' %}">
    <input type="text" class="datepicker" id="end" placeholder="{% trans 'End Date' %}">
    <a id="search" class="btn btn-default">{% trans "search" %}</a>
    <div class="btn-group">
      <a id="today" class="btn btn-default">{% trans "Today Statistics" %}</a>
      <a id="yesterday" class="btn btn-default">{% trans "Yesterday Statistics" %}</a>
      <a id="last7Days" class="btn btn-default">{% trans "Last 7 days Statistics" %}</a>
      <a id="month" class="btn btn-default">{% trans "Month Statistics" %}</a>
    </div>
</div>
<div id="chart"></div>
<table class="display table table-bordered" id="table">
    <thead>
        <th>{% trans "Statistics Date" %}</th>
        <th>{% trans "AD Presentation Count" %}</th>
    </thead>
    <tbody>
{#    {% for ad in stats %}#}
{#        <tr>#}
{#            <td>{{ ad.showtime }}</td>#}
{#            <td>{{ ad.count }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}
    </tbody>
</table>

{% endblock %}


