{% extends "index.html" %}
{% load i18n staticfiles%}

{% block extra_css %}
<link href="{% static 'css/AdminLTE.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'messenger/build/css/messenger.css' %}">
    <link rel="stylesheet" href="{% static 'messenger/build/css/messenger-theme-future.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'messenger/build/js/messenger.min.js' %}"></script>
    <script src="{% static 'messenger/build/js/messenger-theme-future.js' %}"></script>
    <script src="{% static 'js/smartwifi.js' %}"></script>
    <script>
    $(document).ready(function(){
        var msg = "{{ msg }}";
{#        console.log(typeof(msg));#}
{#        console.log(msg);#}
        var temp = msg.split(";");
{#        console.log(temp);#}
        if (temp.length >1){
            msg = temp[1].slice(0,-1);
        }

        if (msg){
            Messenger().post({
              message: msg,
              type: "error",
              showCloseButton:true
            })
        }
    });
    </script>
{% endblock %}

{% block content %}
    {{ msg }}
    <br>
    <br>
<div class="form-box" id="login-box">
            <div class="header">Smart WIFI</div>
            <form method="post">{% csrf_token %}
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="{% trans 'Username' %}" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="{% trans 'Password' %}"
                               pattern=".{5,10}" title="{% trans '5 to 10 characters' %}" required/>
                    </div>
                    <div class="form-group">
                        {{ form.captcha}}
                    </div>
                    <div class="form-group">
{#                        <input type="checkbox" name="remember_me"/> {% trans "Remember me" %}#}
                        <button type="submit" class="btn bg-olive btn-primary form-control">{% trans "Log In" %}</button>
                        <a href="{% url 'reset' %}" class="pull-right">{% trans "I forgot my password" %}?</a>
                    </div>
                </div>
                <div class="footer">
{#                    <button type="submit" class="btn bg-olive btn-block">{% trans "Sign me in" %}</button>#}

{#                    <p><a href="#">{% trans "I forgot my password" %}</a></p>#}

                    <p><a href="{% url "signup" %}" class="text-center ">{% trans "Sign Up" %}</a></p>
                </div>
            </form>

            <div class="margin text-center">
                <span>Sign in using social networks</span>
                <br/>
                <button class="btn bg-light-blue btn-circle"><i class="fa fa-qq"></i></button>
                <button class="btn bg-red btn-circle"><i class="fa fa-weibo"></i></button>

            </div>
        </div>
{% endblock %}
