{% extends "base_template.html" %}
{% load i18n crispy_forms_tags%}

{% block content-header %}
<h1>
    {% trans "Profile" %}
    <small></small>
</h1>
{% endblock %}

{% block content %}
    <section class="content">
    <div class="row">
    <div class="col-md-8 col-md-offset-1">
    <div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div>
    <form method="post" action="{% url 'profile' %}">
    {% csrf_token %}
        <label>{% trans "User" %}：<span>{{ user }}</span></label>
        {{ form|crispy }}
        <div class="form-actions">
            <input class="btn btn-primary form-control" type="submit" value="{{ title }}">
        </div>
    </form>
    </div>
    </div>
    </div>

    </section>


{% endblock %}

