{% extends "base_template.html" %}
{% load i18n staticfiles  %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'datatables/media/css/jquery.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'messenger/build/css/messenger.css' %}">
    <link rel="stylesheet" href="{% static 'messenger/build/css/messenger-theme-future.css' %}">
{#    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">#}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'jquery-cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'messenger/build/js/messenger.min.js' %}"></script>
    <script src="{% static 'messenger/build/js/messenger-theme-future.js' %}"></script>
    <script src="{% static 'lodash/dist/lodash.min.js' %}"></script>
    <script>
    $(document).ready(function(){
        var table = $('#table').DataTable({
                language: {
                    "url": "//cdn.datatables.net/plug-ins/725b2a2115b/i18n/Chinese.json"
                }
        });
       var selected = [];

    $('#table tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
        var id = $(this).data("rowKey");
        var index = $.inArray(id, selected);
        if ( index === -1 ) {
            selected.push( id );
        } else {
            selected.splice( index, 1 );
        }
        console.log(selected);
    } );


        $("#modify").click(function(){
            //a trick to pass JS variable to django url template tag
            var url = "{% url 'accounts.customer.update' pk=99999 %}";
            url = url.replace(/99999/,selected[0]);
            window.location.href = url;
        });

        $("#delete").click(function(){
            //a trick to pass JS variable to django url template tag
            var url = "{% url 'accounts.customer.delete' pk=99999 %}";
            url = url.replace(/99999/,selected[0]);
            window.location.href = url;
        });
    });
    </script>
{% endblock %}

{% block content-header %}
<h1>
    Customers
    <small>customer</small>
</h1>
{% endblock %}

{% block content %}
<div class="btn-group">
  <a href="{% url "accounts.customer.add" %}" class="btn btn-default">{% trans "Create" %}</a>
  <a id="modify" class="btn btn-default">{% trans "Modify" %}</a>
  <a id="delete" class="btn btn-default">{% trans "Delete" %}</a>
</div>
<table class="display table table-bordered" id="table">
    <thead>
        <th>{% trans "Username" %}</th>
        <th>{% trans "Phone" %}</th>
        <th>{% trans "Email" %}</th>
    </thead>
    {% for p in customers %}
        <tr data-row-key="{{ p.id }}">
            <td>{{ p.user.username }}</td>
            <td>{{ p.phone }}</td>
            <td>{{ p.email }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

