{% extends "base_template.html" %}
{% load i18n staticfiles %}

{% block extra_css %}
    {{ block.super }}
{#    <link rel="stylesheet" href="{% static 'datatables/media/css/jquery.dataTables.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'messenger/build/css/messenger.css' %}">
    <link rel="stylesheet" href="{% static 'messenger/build/css/messenger-theme-future.css' %}">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'datatables/media/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'jquery-cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'messenger/build/js/messenger.min.js' %}"></script>
    <script src="{% static 'messenger/build/js/messenger-theme-future.js' %}"></script>
    <script src="{% static 'lodash/dist/lodash.min.js' %}"></script>
    <script>
    $(document).ready(function(){
        var table = $('#table').DataTable({
                language: {
                    "url": "//cdn.datatables.net/plug-ins/725b2a2115b/i18n/Chinese.json"
                }
        });
       {% comment %}var selected = [];

    $('#table tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
        var id = $(this).data("rowKey");
        var index = $.inArray(id, selected);
        if ( index === -1 ) {
            selected.push( id );
        } else {
            selected.splice( index, 1 );
        }
        console.log(selected);
    } );


        $("#modify").click(function(){
            //a trick to pass JS variable to django url template tag
            var url = "{% url 'accounts.sysadmin.update' pk=99999 %}";
            url = url.replace(/99999/,selected[0]);
            window.location.href = url;
        });

        $("#delete").click(function(){
            //a trick to pass JS variable to django url template tag
            var url = "{% url 'accounts.sysadmin.delete' pk=99999 %}";
            url = url.replace(/99999/,selected[0]);
            window.location.href = url;
        });{% endcomment %}
    });
    </script>
{% endblock %}

{% block content-header %}
<h1>
    {% trans "System Admin" %}
    <small>{% trans "Administrators" %}</small>
</h1>
{% endblock %}

{% block content %}
 <div class="box">
    <div class="box-header">
        <h3 class="box-title">{% trans "System Admin" %}</h3>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive">
        <div class="btn-group">
          <a href="{% url "accounts.sysadmin.add" %}" class="btn btn-default">{% trans "Create" %}</a>
        </div>

        <table class="table table-bordered table-hover" id="table">
            <thead>
                <th>{% trans "Username" %}</th>
                <th>{% trans "Super Admin" %}</th>
                <th>{% trans "Phone" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Operations" %}</th>
            </thead>
            {% for p in sysadmins %}
                <tr data-row-key="{{ p.id }}">
                    <td>{{ p.user.username }}</td>
                    <td>{{ p.super_admin }}</td>
                    <td>{{ p.phone }}</td>
                    <td>{{ p.email }}</td>
                    <td>
                        <a href="{% url 'accounts.sysadmin.update' pk=p.id %}"><i class="fa fa-edit"></i></a> &nbsp;
                        <a href="{% url 'accounts.sysadmin.delete' pk=p.id %}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box --
{% endblock %}

