<!DOCTYPE html>
{% load i18n staticfiles%}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% trans "SmartWifi" %} | Dashboard</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "fontawesome/css/font-awesome.min.css" %}">
        <!-- Ionicons -->
        <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="{% static 'morris/morris.css' %}" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
{#        <link href="css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />#}
        <!-- Date Picker -->
{#        <link href="css/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />#}
        <!-- Daterange picker -->
{#        <link href="css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />#}
        <!-- bootstrap wysihtml5 - text editor -->
{#        <link href="css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />#}
        <!-- Theme style -->
        <link href="{% static 'css/AdminLTE.css' %}" rel="stylesheet" type="text/css" />
{#        <link rel="stylesheet" href="{% static 'css/freelancer.css' %}" />#}

        {% block extra_css %}{% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="{% url 'core.index' %}" class="logo" style="height: 60px">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                SmartWifi
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation" >
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-left">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li >
                            <a href="{% url 'core.index' %}">{% trans "Home" %}</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#portfolio">{% trans "Services" %}</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#about">{% trans "Help" %}</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">{% trans "Contace" %}</a>
                        </li>

                    </ul>
                </div>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell"></i>
                                <span class="label label-warning" id="badge"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">{% trans "You have" %} <span id="badge2"></span> {% trans "Notifications" %}</li>
                                <li class="notification">
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                    </ul>
                                </li>
                                <li class="footer"><a href="{% url 'management.notifications' %}">{% trans "View all" %}</a></li>
                            </ul>
                        </li>

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{ user }} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="img/avatar3.png" class="img-circle" alt="User Image" />
                                    <p>
                                        {{ user }} - Web Developer
                                        <small>{% trans "Member since" %} : {{ user.date_joined }}</small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{% url 'profile' %}" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
{#                    <!-- Sidebar user panel -->#}
{#                    <div class="user-panel" style="height: 10px">#}
{#                    </div>#}

                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a href="{% url "core.dashboard" %}">
                                <i class="fa fa-dashboard"></i> <span>{% trans "Dashboard" %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "accounts.sysadmins" %}">
                                <i class="fa fa-user"></i> <span>{% trans "System Admin" %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "accounts.agents" %}">
                                <i class="fa fa-male"></i> <span>{% trans "Agents" %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "accounts.customers" %}">
                                <i class="fa fa-users"></i> <span>{% trans "Customers" %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "management.gateways" %}">
                                <i class="fa fa-wifi"></i> <span>{% trans "Gateway Management" %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "management.clients" %}">
                                <i class="fa fa-users"></i> <span>{% trans "Clients" %}</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-cloud"></i>
                                <span>{% trans "AD Management" %}</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{% url "management.ads" %}"><i class="fa fa-angle-double-right"></i> {% trans "AD Management" %}</a></li>
                                <li><a href="{% url "management.adstats" %}"><i class="fa fa-angle-double-right"></i> {% trans "AD Statistics" %}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url "management.templates" %}">
                                <i class="fa fa-th"></i> <span>{% trans "Market Management" %}</span>
                            </a>
                        </li>

                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    {% block content-header %}
                    {% endblock %}
{#                    <ol class="breadcrumb">#}
{#                        <li><a href="{% url 'core.dashboard' %}"><i class="fa fa-dashboard"></i> {% trans "Home" %}</a></li>#}
{#                        <li class="active">{% trans "Dashboard" %}</li>#}
{#                    </ol>#}
                </section>

                <!-- Main content -->
                <section class="content">
                    {% block content %} {% endblock %}

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        <!-- add new calendar event modal -->


        <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
{#        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>#}
        <script src="{% static 'raphael/raphael-min.js' %}"></script>
        <script src="{% static 'morris/morris.min.js' %}" type="text/javascript"></script>
        <!-- Sparkline -->
{#        <script src="js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>#}
        <!-- jvectormap -->
{#        <script src="js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>#}
{#        <script src="js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>#}
        <!-- jQuery Knob Chart -->
{#        <script src="js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>#}
        <!-- daterangepicker -->
{#        <script src="js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>#}
        <!-- datepicker -->
{#        <script src="js/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>#}
        <!-- Bootstrap WYSIHTML5 -->
{#        <script src="js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>#}
        <!-- iCheck -->
        <script src="{% static 'iCheck/icheck.min.js' %}" type="text/javascript"></script>

        <!-- AdminLTE App -->
        <script src="{% static 'js/app.js' %}" type="text/javascript"></script>

        <!-- AdminLTE for demo purposes -->
        <script src="{% static 'js/demo.js' %}" type="text/javascript"></script>

        <script src="{% static 'handlebars/handlebars.min.js' %}"></script>
        <script src="{% static 'moment/min/moment.min.js' %}"></script>
        <script src="{% static 'moment/min/locales.min.js' %}"></script>
        <script id="notification-template" type="text/x-handlebars-template">
        {% verbatim %}
            <li>
                <span class="text"><a href="{{ url }}">{{ title }}</a></span>
                <small class="label label-danger"><i class="fa fa-clock-o"></i> {{ badge }}</small>
                <div class="tools">
                </div>
            </li>
        {% endverbatim %}
        </script>

        <script id="notification-template2" type="text/x-handlebars-template">
        {% verbatim %}
            <li>
                <a href="{{ url }}">
                    <i class="ion info"></i>{{ title }}
                </a>
            </li>
        {% endverbatim %}
        </script>

        <script>
        $(document).ready(function() {
{#            var favicon = new Favico({#}
{#                animation : 'popFade'#}
{#            });#}

            var source   = $("#notification-template").html();
            var template = Handlebars.compile(source);

            var source2   = $("#notification-template2").html();
            var template2 = Handlebars.compile(source2);
            $.get("{% url 'management.notification_data' %}",function(data){
               console.log("success.");
            }).done(function(data){
                console.log(data);
                var count = data.length;
                $("#badge").text(count);
                $("#badge2").text(count);

                data.forEach(function(element, index, array){
                    console.log(element);
{#                    console.log(index);#}
                    //show last 5 notifications on dashboard
                    var url = "{% url 'management.notification.detail' pk=99999 %}";
                    url = url.replace(/99999/, element.pk);
{#                    moment().locale("zh-cn")#}
{#                    console.log(moment(element.fields.date));#}
                    var badge = moment(element.fields.date).fromNow();
                    var context = {title: element.fields.title, url: url, badge: badge}

                    if (index <=4){
                        var html    = template(context);
{#                        console.log(html);#}
{#                        console.log($('.box-body > ul.todo-list:last'))#}
                        $('.box-body > ul.todo-list:last').append(html);
                    }

                    var html2    = template2(context);
{#                        console.log(html2);#}
                    $('li.notification ul').append(html2);
                    }
                )


{#                favicon.badge(count);#}
            });



        });
        </script>

        {% block extra_js %}{% endblock %}

    </body>
</html>

